
__pycache__/
*.pyc
.env
venv/
.vscode/
.DS_Store
*.log
*.sqlite3


.ipynb_checkpoints/
*.ipynb

data/
*.csv
*.db
*.sqlite
*.parquet


dashboard/*.png
dashboard/*.html
dashboard/*.pdf

# OS
Thumbs.db
Desktop.ini